<div class="land-list" [ngClass]="{'swiped': link.actions.swiped}">
    <mat-icon class="btn-swip" 
        #tooltip="matTooltip"
        mat-raised-button
        matTooltip="Copyed!"
        matTooltipPosition="left" 
        matTooltipClass="copy-tip"
        (mouseenter)="$event.stopImmediatePropagation()" 
        (mouseleave)="$event.stopImmediatePropagation()"
        (click)="communityActionService.tooltipCopy(tooltip)" 
        [cdkCopyToClipboard]="link.properties.url"
    >content_copy</mat-icon>
    <a class="content" (touchstart)="communityActionService.touchStart($event)" (touchend)="communityActionService.touchEnd($event, link)">
        <div class="flex-shrink-0 img rounded-circle">
            <img *ngIf="link.properties.logo" src="{{ link.properties.logo }}" alt="...">
        </div>
        <h5 class="mb-0 ml-2">{{link.properties.alias}}</h5>
        <div class="card-body text-truncate ml-2">
            <h5 class="card-title text-truncate mb-0">{{link.properties.url | ellipsisAddress}}</h5>
        </div>
    </a>
</div>